.counter{
    position: relative;
    top: 295px;
    left:450px;
    font-size: xx-large;
    width: 150px;
    height: 100px;
    border: 2px solid aqua;
    margin: 0px;
    border-radius: 5px;
    }